@import "tailwindcss";

@font-face {
    font-family:"Raleway";
    src: url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayLight";
    src: url("fonts/Raleway-Light.ttf");
}

@theme{
    --font-raleway-bold: "Raleway", sans-serif;
    --font-raleway-light: "RalewayLight", sans-serif;
}


.mask-img {
    mask-image: linear-gradient(to bottom, black 90%, transparent),
        linear-gradient(to right, transparent, black 20%),
        linear-gradient(to left, transparent, black 20%);
    mask-composite: intersect;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.7s ease-out forwards;
}
